body{
      margin:0;
          min-height:100vh;
              background:
                  linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
                      url("https://images.unsplash.com/photo-1542751371-adc38448a05e");
                          background-size:cover;
                              background-position:center;
                                  background-attachment:fixed;
                                      color:white;
                                          font-family:Arial;
                                          }
}
.A, .B {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}

.A {
    bottom: 80px;
    background: #25D366;
}

.B {
    bottom: 20px;
    background: #1877f2;
}

.A:hover, .B:hover {
    transform: scale(1.1);
}
.A {
      position: fixed;
    right: 20px;
    width: 50px;
    height: 50px;
}.B {
      position: fixed;
    right: 25px;
    width: 50px;
    height: 50px;
}
.photo {
    display: block;
    width: 90%;
    max-width: 600px;
    margin: 50px auto 20px;
    border-radius: 15px;
}
h1 {
      color:green;
}
