body{
      margin:0;
          min-height:100vh;
              background:
                  linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
                      url("https://images.unsplash.com/photo-1542751371-adc38448a05e");
                          background-size:cover;
                              background-position:center;
                                  background-attachment:fixed;
                                      color:white;
                                          font-family:Arial;
                                          }
}
.A{
    position: fixed;
    bottom: 20px;
    right: 20px;

    background: #25D366;
    color: white;

    padding: 12px 18px;
    border-radius: 50px;

    text-decoration: none;
    font-size: 16px;
    font-weight: bold;

    transition: 0.3s;
}

.A:hover{
    background: #128C7E;              /* تغيير اللون */
    transform: scale(1.1) translateY(-5px); /*
